*#
TempData
Results/
Results
+kgmlm/+CUDAlib/kCUDAsrc/.vscode/
+kgmlm/+CUDAlib/kCUDAsrc/CMakeFiles/
+kgmlm/+CUDAlib/kCUDAsrc/CMakeCache.txt
+kgmlm/+CUDAlib/kCUDAsrc/CTestTest*
*.so
*.tcl
*.cmake
Makefile*
*.o
*.a
*.mexa64
*.mexw64
*.mat
*.m~
*.cu~
*.cpp~
*.hpp~
*.h~
*.c~
*.aux
*.pdf
*.log
*.gz
*.lib
*.asv
*.manifest
*.exp
*.obj
TempData/
